[color]
	ui = true
[user]
	name = Christian Paling
	email = christian.paling@googlemail.com
[push]
	default = simple
[core]
	autocrlf = input
	editor = nano
	pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	verbose = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false
